<!DOCTYPE html>
<html>
<head>
  <title>WMGSIS In-Person Classes vs Average Grade</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
  <header>
    <img class="wmgLogo" src="{{ url_for('static', filename='wmg.png') }}" alt="wmg">
    <img class="warwickUni" src="{{ url_for('static', filename='warwickUni.png') }}" alt="wmg">
    <img class="greyRectangle"src="{{ url_for('static', filename='Home and Menu Rectangle Grey.png') }}" alt="rectangleGrey">
    <nav>
      <a class="home" href="{{ url_for('home') }}">Home</a>
      <a class="menu" href="{{ url_for('menu') }}">Menu</a>
    </nav>
  </header>
  <main>
    <div class="rectangle"></div>
    </div>
      <form>
        <div class="menuBox1">
        <a class="menuText" style="top: 5px;" href="{{ url_for('home') }}">Homepage</a>
        </div>
        <div class="menuBox1" style="top: 550px">
            <a class="menuText" style="width: 665px;
            height: 43px;
            left: 58px;" href="{{ url_for('inPersonClasses2019') }}">In-Person classes vs Average Grade per Module</a>
      </form>
    </div>
  </main>
  <footer>
    <div class="rectangleBottom">
    <p style="font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 37px;
    display: flex;
    align-items: center;color: #FFFFFF;">Contact WMG at help@wmgcustomerservice.com</p>
    </div>
  </footer>

</body>
</html>