<!DOCTYPE html>
<html>
<head>
  <title>WMGSIS In-Person Classes vs Average Grade</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
  <header>
    <img class="wmgLogo" src="{{ url_for('static', filename='wmg.png') }}" alt="wmg">
    <img class="warwickUni" src="{{ url_for('static', filename='warwickUni.png') }}" alt="wmg">
    <img class="greyRectangle"src="{{ url_for('static', filename='Home and Menu Rectangle Grey.png') }}" alt="rectangleGrey">
    <nav>
      <a class="home" href="{{ url_for('home') }}">Home</a>
      <a class="menu" href="{{ url_for('menu') }}">Menu</a>
    </nav>
  </header>
  <main>
    <div class="rectangle"></div>
    <h1 class="tableTitleText">In person Classes vs Average Grade</h1>
    <img class="chart" id="chartImg" src="{{ url_for('static', filename='chart.png') }}" alt="Percentage of In-person Classes vs Average Grade per Module Chart">
    <table class="chart" id="dataTable" style="display:none;">
        <thead>
            <tr>
                <th>Module</th>
                <th>Percentage of In-person Classes</th>
                <th>Average Grade</th>
            </tr>
        </thead>
        <tbody>
            {% for module, percent, grade in data %}
            <tr>
                <td>{{ module }}</td>
                <td>{{ percent }}</td>
                <td>{{ grade }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <button class="tableView" id="toggleBtn" onclick="toggleView()">Toggle table view</button>
    <script>
      function toggleView() {
          let chartImg = document.getElementById("chartImg");
          let dataTable = document.getElementById("dataTable");
          let toggleBtn = document.getElementById("toggleBtn");
  
          if (chartImg.style.display === "none") {
              chartImg.style.display = "block";
              dataTable.style.display = "none";
              toggleBtn.innerHTML = "Toggle table view";
          } else {
              chartImg.style.display = "none";
              dataTable.style.display = "block";
              toggleBtn.innerHTML = "Toggle graph view";
          }
      }
  </script>

    <div class="teachingMethodRectangle">
      <div class="teachingMethod">Teaching Method:
        <p class="teachingMethodText">Each module has a certain percentage of in person classes. This bar chart represent the relationship between the percentage of the in person classes and the average grade for each module. The data can be represented in table form also.</p>

        <p class="viewData">View data per academic year:</p>
        <ul class="years">
          <li>2019</li>
          <li>2020</li>
          <li>2021</li>
          <li>2022</li>
        </ul>
    </div>
      <form>
        <div>
        <input class="searchBar" type="text" id="search">
        </div>
        <button class="advancedSearchBox">Search</button>
      </form>
    </div>
  </main>
  <footer>
    <div class="rectangleBottom">
    <p style="font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 37px;
    display: flex;
    align-items: center;color: #FFFFFF;">Contact WMG at help@wmgcustomerservice.com</p>
    </div>
  </footer>

  
</body>
</html>